.chatPane {
  display: inline-block;
  height: 300px;
  width: 248px;
  border: 2px solid #E5A4B3;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;

  .chatArea {
    height: 256px;
    padding: 0 4px;

    p {
      font-size: 11px;
      margin-bottom: 5px;

      strong {
        font-size: 13px;
      }
    }
  }

  .inputGuess {
    width: 244px;
    height: 30px;
    border: 0;
    border-top: 2px solid #E5A4B3;
    padding: 0 4px;

    &:focus {
      outline: 0;
    }
  }
}
