<section ng-controller="GamesController as game">
  <div class="toolbar">
    <div ng-repeat="(color,hash) in game.colors" class="toolbarColor {{ color + 'Picker'}}" ng-click="game.pickColor(hash)"></div>
    <div ng-repeat="(size, value) in game.sizes" class="toolbarSize {{ size + 'Picker' }}" ng-click="game.pickSize(value)"><div></div></div>
  </div>
  <canvas canvas-draw width="660" height="500" class="canvas" color="game.color" size="game.size"></canvas>
  <div class="chatPane">
    <div class="chatArea">
      <ul class="messages"></ul>
    </div>
    <input class="inputGuess" placeholder="Type your guess here..."/>
  </div>
  <div class="scorePane">
    <ul class="scores"></ul>
  </div>
</section>
