<section ng-controller="GamesController as game" ng-init="game.currentGame()">
  <div class="toolbar">
    <div ng-repeat="(color,hash) in game.colors" class="toolbarColor {{ color + 'Picker'}}" ng-click="game.pickColor(hash)"></div>
    <div ng-repeat="(size, value) in game.sizes" class="toolbarSize {{ size + 'Picker' }}" ng-click="game.pickSize(value)"><div></div></div>
    <div class="toolbarClear" ng-click="game.clearBoard()"><p>Clear</p></div>
  </div>
  <canvas canvas-draw width="660" height="500" class="canvas" color="game.color" size="game.size"></canvas>
  <div class="chatPane">
    <div class="chatArea">
      <ul class="messages"></ul>
    </div>
    <input chat-box class="inputGuess" action="submit" placeholder="Type your guess here..."/>
  </div>
  <div class="scorePane">
    <ul class="scores">hello: {{ game.game.users }}</ul>
  </div>
</section>
