@import "__reset";
@import "_bower";
@import "game-board/canvas";
@import "game-board/chat";
@import "game-board/scores";
@import "game-board/toolbar";
@import "header";
@import "modals";
@import "home-page/game-list";

body {
  background-image: url(../images/lined_paper.jpg);
  background-size: 100% 1000px;
  max-width: 950px;
  margin: 0 auto;
}

* {
  font-family: "Coming Soon";
}
